{% extends "header.html" %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <div class="col-all">
        <a href="{% url 'profilemenu' %}" class="profile-menu-options">Mín Síða</a>
        <a href="{% url 'profileinfo' %}" class="profile-menu-options">Notenda upplýsingar</a>
        <a href="{% url 'search_history' %}" class="profile-menu-options">Leitarsaga</a>
    </div>
    <div class="col">
        <h3 class="font-weight-bold mb-4">Leitarsaga:</h3>
        <div class="mr-5">
            {% for search in search_history %}
                <h3>{{ search }}</h3>
            {% endfor %}
        </div>
    </div>
{% endblock %}