{% extends 'header.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <div class="adminMenuContainer">
        <div class="adminActions">
            <h1>Admin Actions</h1>
        </div>
        <div class="adminDiv">
            <a href="{% url 'productlist' %}" class="admin-menu-options">Sækja Vörulista</a>
            <a href="{% url 'customerView' %}" class="admin-menu-options">Skoða sem viðskiptavinur</a>
            <a href="{% url 'create_cereal_start' %}" class="admin-menu-options">Bæta við vöru</a>
        </div>
    </div>
{% endblock %}