{% extends 'header.html' %}
{% load static %}
{% block content %}
    <div class="cerealDetailsContainer">
        <img class="cereal-img" src="{{ cereal.image.path }}"/>
        <h2>{{ cereal.name }}</h2>
        <p>{{ cereal.description }}</p>
        <h4> {{ cereal.price }}kr </h4>
        <a href="{% url 'delete_cereal' cereal.id %}" class="block btn btn-primary">Eyða vöru</a>
        <a href="{% url 'update_cereal' cereal.id %}" class="block btn btn-primary">Uppfæra vöru</a>
    </div>
{% endblock %}