{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forsíða</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div class="header">
        <button class="headerText" onclick="navToFrontPage()">Ship O' Cereal</button>
        <input type="text" placeholder="Leita.." class="searchBar">
        <button class="UserButton" onclick="navToLoginPage()">
            Aðgangur
             <img src="{% static 'images/user.png' %}" alt="userIcon" class="userIMG">
        </button>
        <button class="CartButton" onclick="navToCart()">
            Karfa
            <img src="{% static 'images/cart.png' %}" alt="cartIcon" class="cartIMG">
        </button>
    </div>

    <div class="categories-header">
        <button class="category" id="healthy" onclick="navToHealthyFilter()">
            <h2>Heilsu</h2>
        </button>

        <button class="category" id="sugary" onclick="navToSugaryFilter()">
            <h2>Sætt</h2>
        </button>

        <button class="category" id="vegan" onclick="navToVeganFilter()">
            <h2>Vegan</h2>
        </button>
    </div>

    <div class="footer">
        <p>This is footer</p>
        <p>Made by gvendur, gústaf and geir ehf</p>
    </div>
    {% block content %}
    {% endblock %}

<script src="{% static 'js/header.js' %}"></script>
</body>
</html>